@import "tailwindcss";

@theme {
  --animate-marquee: marquee 20s linear infinite;
  --color-primary: #1565C0;
  --color-secondary: #42A5F5;
  --color-accent: #E3F2FD;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
