@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --animate-marquee: marquee 20s linear infinite;
  --color-primary: #734B1A;
  --color-secondary: #8D5E21;
  --color-accent: #FDF5E6;
  --font-sans: var(--font-dosis), ui-sans-serif, system-ui, sans-serif;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
